        <!-- Start Quick Questions to ask-->
        <section class="quick-questions">
            <div class="container-xxl">
              <div class="quick-questions-heading text-center mx-auto">
                <h2
                  class="quick-questions-heading-title text-generator"
                  data-aos="fade-up"
                >
                  [FAQ SECTION TITLE]
                </h2>
                <p
                  class="quick-questions-heading-text mb-0"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  [FAQ SECTION DESCRIPTION - Lorem ipsum dolor sit amet, consectetur adipiscing elit.]
                </p>
              </div>
              <div class="row">
                <div class="col-lg">
                  <div class="accordion accordion-flush">
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                    >
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne"
                          aria-expanded="true"
                          aria-controls="flush-collapseOne"
                        >
                          [FAQ Question 1]
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapseOne"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          [FAQ Answer 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.]
                        </div>
                      </div>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="200"
                    >
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseTwo"
                          aria-expanded="true"
                          aria-controls="flush-collapseTwo"
                        >
                          [FAQ Question 2]
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapseTwo"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          [FAQ Answer 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.]
                        </div>
                      </div>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="400"
                    >
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseThree"
                          aria-expanded="true"
                          aria-controls="flush-collapseThree"
                        >
                          [FAQ Question 3]
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapseThree"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-headingThree"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          [FAQ Answer 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.]
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg">
                  <div class="accordion accordion-flush">
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="200"
                    >
                      <h2 class="accordion-header" id="flush-heading01">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse01"
                          aria-expanded="true"
                          aria-controls="flush-collapse01"
                        >
                          [FAQ Question 4]
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapse01"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-heading01"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          [FAQ Answer 4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.]
                        </div>
                      </div>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="400"
                    >
                      <h2 class="accordion-header" id="flush-heading02">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse02"
                          aria-expanded="true"
                          aria-controls="flush-collapse02"
                        >
                          [FAQ Question 5]
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapse02"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-heading02"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          [FAQ Answer 5 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.]
                        </div>
                      </div>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="200"
                    >
                      <h2 class="accordion-header" id="flush-heading03">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse03"
                          aria-expanded="true"
                          aria-controls="flush-collapse03"
                        >
                          [FAQ Question 6]
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapse03"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-heading03"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          [FAQ Answer 6 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.]
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--  End Quick Questions to ask-->
          